:root {
  --corbranco: #ffffff;
  --corazulescuro: #010223;
}

body {
  background-color: var(--corazulescuro);
  color: var(--corbranco);
  font: normal 15pt Arial;
  text-align: center;
  margin-top: 10px;
}

section {
  width: 380px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #31e9e0;
  margin: auto;
}

input {
  margin: 10px 0px;
}

input#anonasc {
  font: normal 12pt Arial;
}

input#button {
  border: 1px solid #31e9e0;
  padding: 10px 50px;
  border-radius: 20px;
  color: var(--corbranco);
  background-color: transparent;
  transition-duration: 0.6s;
  font: normal 11pt Arial;
  cursor: pointer;
}

input#button:hover {
  background-color: var(--corbranco);
  color: var(--corazulescuro);
}
